/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/*CSS Basic Reset*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/**********************************/
/* 0. Variables
/* 1. Base
/* 2. Header
/* 3. About
/* 4. Work
/* 5. Contact
/* 6. Footer
/**********************************/

/**********************************/
/* 0. Variables
/**********************************/

:root {
    --bg-color-header: #BE3144;
    --body-font-color: #F0F0F0;
    --bg-color-work: #45567d;
    --bg-color-contact: #303841;
    --body-font: 'Poppins', sans-serif;
    --heading-font: 'Raleway', sans-serif;
}

/**********************************/
/* 1. Base
/**********************************/

 /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    color: var(--body-font-color);
    font-family: var(--body-font);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    
}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}


h1, h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

/**********************************/
/* 2. Header
/**********************************/
.nav {
    width: 100%;
    background-color: var(--bg-color-header);
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-link {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    text-transform: capitalize;
}

.nav-link:hover {
    background-color: var(--bg-color-work);
}

/**********************************/
/* 3. About
/**********************************/
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding: 0.4rem;
}

.about p {
    color: var(--bg-color-header);
    font-size: 3rem;
    font-style: italic;
    font-weight: 200;
}

/**********************************/
/* 4. Works
/**********************************/

.work {
    background-color: var(--bg-color-work);
    text-align: center;
    padding: 10rem 2rem;
}


.work-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #fff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background-color: #303841;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-tile {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.code {
    color: #303841;
    transition: color 0.5s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

/**********************************/
/* 5. Contact
/**********************************/
.contact {
    display: flex;
    background-color: var(--bg-color-contact);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--body-font-color);
    font-family: var(--heading-font);
    text-align: center;
    width: 100%;
    height: 85vh;
}

.contact-header > h2 {
    font-size: 6rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    
}

.contact-links > a {
    display: inline-block;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-links > a:hover {
    transform: translateY(-8px);
}

/**********************************/
/* 6. Footer
/**********************************/

footer {
    border-top: 4px solid var(--bg-color-header);
    background-color: var(--bg-color-contact);
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

footer > p {
    color: var(--body-font-color);
    font-size: 1.8rem;
    font-weight: 200;
}